{
  "tabWidth": 2,
  "singleQuote": true,
  "jsxSingleQuote": false,
  "arrowParens": "avoid",
  "trailingComma": "none",
  "overrides": [
    {
      "files": "*.{ts,tsx}",
      "options": {
        "arrowParens": "always"
      }
    }
  ]
}
